<%= form_for([@step, @question], html: { role: "form" }) do |f| %>
  <% if @question.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h4>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :value %>
    <%= f.text_area :value, class: "form-control" %>
  </div>
<%= f.submit class: "btn btn-primary" %>
<% end %>
