<div class="page-header">
  <h1>Editing question</h1>
</div>

<%= render 'form' %>


<hr>
<%= link_to question_path(@question), class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Back
<% end %>
