<div class="page-header">
  <h1>Listing questions</h1>
</div>

<div class="table-responsive">
  <table class="table table-sm table-hover">
    <thead>
      <tr>
            <th>No</th>
            <th>Title</th>
            <th>Value</th>
            <th>Step</th>
            <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @questions) do |question| %>
            <td><%= question.no %></td>
            <td><%= question.title %></td>
            <td><%= question.value %></td>
            <td><%= question.step %></td>
            <td>
          <%= link_to 'Show', question %> |
          <%= link_to 'Edit', edit_question_path(question) %> |
          <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>

  <%= link_to new_question_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Question
  <% end %>
  
</div>
