<div class="page-header">
  <h1>New question</h1>
</div>

<%= render 'form' %>

<%= link_to step_path(@step), class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Back
<% end %>
