<div class="page-header">
  <h1>Show question</h1>
</div>

<dl class="dl-horizontal">
  <dt>No:</dt>
  <dd><%= @question.no %></dd>

  <dt>Title:</dt>
  <dd><%= @question.title %></dd>

  <dt>Value:</dt>
  <dd><%= @question.value %></dd>

  <dt>Step:</dt>
  <dd><%= @question.step %></dd>
</dl>

<%= link_to step_path(@step), class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Back
<% end %>
<%= link_to edit_question_path(@question), class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-pencil"></span>
  Edit
<% end %>

<% if @question.choice? %>
  <%= link_to 'Choice List', question_choices_path(@question), class: 'btn btn-secondary' %>
<% end %>

<% if @question.question_registrable? %>
  <%=
    link_to 'Add Choice',
    new_question_choice_path(@question),
    class: 'btn btn-primary'
  %>
<% end %>
