<h2>회원가입</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label "이메일" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label "비밀번호" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 자리 이상입니다.)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label "비밀번호 확인" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label "이름" %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "닉네임" %><br />
    <%= f.text_field :nickname %>
  </div>

  <div class="field">
    <%= f.label "성별" %><em>( 남자는 male, 여자는 female 입력 부탁드립니다.)</em><br />
    <%= f.text_field :gender %>
  </div>

  <div class="field">
    <%= f.label "학번" %><br />
    <%= f.text_field :student_no %>
  </div>

  <div class="field">
    <%= f.label "태어난 연도" %><br />
    <%= f.text_field :birth_year %>
  </div>

  <div class="actions">
    <%= f.submit "회원가입" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
