<%= form_for(@conversation, html: { role: "form" }) do |f| %>
  <% if @conversation.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@conversation.errors.count, "error") %> prohibited this conversation from being saved:</h4>

      <ul>
      <% @conversation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "질문 제목" %>
    <%= f.text_area :title, class: "form-control", disabled: true %>
  </div>
  <div class="form-group">
    <%= f.hidden_field :user, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "질문 내용" %>
    <%= f.text_area :question, class: "form-control", size: "30x10", disabled: true %>
  </div>
  <div class="form-group">
    <%= f.label "답변 내용" %>
    <%= f.text_area :answer, class: "form-control", size: "30x10" %>
  </div>
  <div class="form-group">
    <%= f.hidden_field  :name,:value => current_user.name%>
  </div>

<hr class="footerLine">
<div class="newFooter">
  <div class="mr-2"> 
    <%= link_to conversations_path, class: 'btn btn-outline-dark' do %>
      <span>취소</span>
    <% end %>
  </div>
  <div>
    <%= f.submit "답변 작성완료", class: "btn btn-primary" %>
  <% end %>
  </div>
</div>

