<div style="display: flex; justify-content: space-between;">
  <div class="page-header">
  <span> <h1 class="font-weight-bold">내담자와의 대화</h1> </span>
    
  </div>
  <% if current_user.user_type == "counselor"%>
    <select class="form-control" id="myUserSelect">
      <option>모두</option>
      <option>내 내담자</option>
    </select>
  <% end %>
</div>
<hr class="headerUnderline">
<div class="table-responsive mt-3">
  <table class="table table table-hover">
    <thead class="bg-light text-center">
      <tr>
            <th>질문 제목</th>
            <th>질문한 사람</th>
            <th>답변 여부</th>
      </tr>
    </thead>

    <tbody class="text-center">
      <%= content_tag_for(:tr, @conversations) do |conversation| %>
      <% if @my_users.include?(User.find(conversation.user_id)) %> 
        <tr class="my_user" onclick="location.href='<%= conversation_path(conversation) %>'">
      <% else %>
        <tr class="others" onclick="location.href='<%= conversation_path(conversation) %>'">
      <% end %>
          <td><%= conversation.title %></td>
          <td><%= conversation.user.name %></td>
          <% if conversation.name %>
            <td>O</td>
          <% else %>
            <td>X</td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr class="footerLine">
</div>
<script>
  $('#myUserSelect').change(function() {
    if ($(this).val() === '내 내담자') {
        $('.others').hide()
    } else {
      $('.others').show()
    }
  });
</script>