<div class="page-header">
  <h1 class="font-weight-bold"><%= @conversation.user.name %>의 질문</h1>
  <hr class="headerUnderline">
</div>
<div class="headSummary">
  <div>
    <span class="title">
      <%= @conversation.title %>
    </span>
  </div>
  <div>
    <span >
      <%= @conversation.created_at.strftime("%Y/%m/%d") %>
    </span>
  </div>
</div>

<hr class="headerUnderLineBelow">
  <div class="ml-3">
    <p> <%= simple_format @conversation.question %></span>
  </div>
</div>

<% if @conversation.answer.present? %>

<div class="headSummary">
  <div>
    <span class="title">
      <%= @conversation.title %>의 답변
    </span>
  </div>
  <div>
    <span class="mr-2">
      <i></i><%=  @conversation.name %> 상담사
    </span>
  </div>
  </div>
<div>
    
  <hr class="headerUnderLineBelow">
    <div class="ml-3">
      <p> <%= simple_format @conversation.answer %></span>
    </div>
  </div>
<% end %>
<hr class="footerLine">
<div class="footer">
  <div>
    <%= link_to conversations_path, class: 'btn btn-outline-dark' do %>
      <span class="glyphicon glyphicon-list-alt"> 내담자와의 대화 목록 </span>
    <% end %>
  </div>
  <div>
    <%= link_to edit_conversation_path(@conversation), class: 'btn btn-primary' do %>
      <span>답변 작성</span>  
    <% end %>
  </div>
</div>
