<%= form_for([@question, @choice], html: { role: "form" }) do |f| %>
  <% if @choice.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@choice.errors.count, "error") %> prohibited this choice from being saved:</h4>

      <ul>
      <% @choice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :value %>
    <%= f.text_field :value, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :next_step_id %>
    <%= f.select :next_step_id, @step_options, {include_blank: false }, {class: "form-control"} %>
  </div>

<%= f.submit class: "btn btn-primary" %>
<% end %>
