<div class="page-header">
  <h1>Editing choice</h1>
</div>

<%= render 'form' %>


<hr>
<%= link_to question_choices_path(@choice.question), class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Back
<% end %>
<%= link_to @choice, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-info-sign"></span>
  Show
<% end %>
