<div class="page-header">
  <h1>Listing choices</h1>
</div>

<div class="table-responsive">
  <table class="table table-sm table-hover">
    <thead>
      <tr>
            <th>No</th>
            <th>Value</th>
            <th>Question</th>
            <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @choices) do |choice| %>
            <td><%= choice.no %></td>
            <td><%= choice.value %></td>
            <td><%= choice.question %></td>
            <td>
          <%= link_to 'Show', choice %> |
          <%= link_to 'Edit', edit_choice_path(choice) %> |
          <%= link_to 'Destroy', choice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Back', question_path(@question), class: 'btn btn-secondary' %>

  <%= link_to new_question_choice_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Choice
  <% end %>
  
</div>
