<div class="page-header">
  <h1>Show choice</h1>
</div>

<dl class="dl-horizontal">
  <dt>No:</dt>
  <dd><%= @choice.no %></dd>

  <dt>Value:</dt>
  <dd><%= @choice.value %></dd>

  <dt>Question:</dt>
  <dd><%= @choice.question %></dd>

</dl>
<%= link_to question_choices_path(@choice.question), class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Back
<% end %>
<%= link_to edit_choice_path(@choice), class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-pencil"></span>
  Edit
<% end %>
