<div class="page-header">
  <h1 class="font-weight-bold">상담사 배정</h1>
</div>
<hr class="headerUnderline">
<div class="table-responsive">
  <%= form_tag group_assign_counselor_users_path, method: :get do %>
    <div class="row">
      <div class="col-2">
        <h5>배정 받을 상담사</h5>
      </div>
      <div class="col-2">
        <select id="counselor_id" class="custom-select custom-select-md mb-3" name="counselor_id">
          <%= options_from_collection_for_select(User.where(:user_type => "counselor"), :id, :name) %>
        </select>
      </div>
    </div>
    
    <table class="table table table-hover">
      <thead class="bg-light">
        <tr class="text-center header">
          <th>이름</th>
          <th>이메일</th>
          <th>성별</th>
          <th>출생연도</th>
          <th>사용자 종류</th>
          <th>선택</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% if current_user.user_type == "admin"%>
          <% @users.each do |user| %>
            <tr id=<%= user.id %>>
              <td class="text-center"><%= user.name %></td>
              <td class="text-center"><%= user.email %></td>
              <td class="text-center"><%= I18n.t("gender.#{user.gender}") %></td>
              <td class="text-center"><%= user.birth_year %></td>
              <% if user.user_type == "counselor"%>
                <td >
                  <div class="orangeBadge">
                    <%= I18n.t("user_type.#{user.user_type}") %>
                  </div>
                </td>
              <% else %>
                <td>
                  <div class="greenBadge">
                    <%= I18n.t("user_type.#{user.user_type}") %>
                  </div>
                </td> 
              <% end %> 
              <td>
                <input id=<%= user.id %> class="authCheckbox" type="checkbox" name="user_ids[]" value=<%= user.id %> />
              </td> 
              <td>
            </tr>
          <% end %> 
          <input id="hidden" name="hidden", hidden>
        <% end %>
      </tbody>
    </table>
  <%= paginate @users, theme: 'twitter-bootstrap-4' %>
</div>

<hr class="footerLine">
</div>
<div class="footer"> 
    <div>
      <%= link_to users_path, class: 'btn btn-outline-dark' do %>
        <span> 사용자 목록</span>
      <% end %>
    </div>
      <%= submit_tag "상담사 배정", :class => 'btn btn-primary' %>
    <% end%>
  </div>
</div>
<script>
  $(function() {
    $( document ).ready(function() {
      let values = [];  
      if (localStorage.getItem('prev') != null) {
        let previousSel = JSON.parse("["+ localStorage.getItem('prev') + "]");
        let values = previousSel;  
        previousSel.forEach(e => {
          $(`:checkbox[value=${e}]`).prop("checked","true");
        })
        $('#hidden').val(previousSel);
      }

      if (localStorage.getItem('selectedCounselor') != null) {
        $('#counselor_id').val( localStorage.getItem('selectedCounselor') );
      }
    });

    $('input[name="user_ids[]"]').change(function() {
      let values = [];
      if (localStorage.getItem('prev') != null) {
        let previousSel = JSON.parse("["+ localStorage.getItem('prev') + "]");
        values = previousSel;  
      }
      let prev = localStorage.getItem('prev');

      $.each($('input[name="user_ids[]"]:checked'), function(){
        if ( !values.includes(Number($(this).val()))) {
          values.push(Number($(this).val()))
        }
      });
      $.each($('input[name="user_ids[]"]:not(:checked)'), function(){
        if ( values.includes(Number($(this).val()))) {
          values = values.filter(item => item !== Number($(this).val()))
        }
      });

      $('#hidden').val(values);
      localStorage.setItem("hidden", values);
    });

    $( ".page-link" ).click(function() {
      $('#hidden').val(localStorage.setItem('prev', $('#hidden').val()));
      $('#counselor_id').val(localStorage.setItem('selectedCounselor', $('#counselor_id').val()));
    });

    $("form").on("submit", function() {
      localStorage.clear();
    });

    $(window).on('hashchange', function(event) {
      localStorage.clear();
    });

  });
</script>
