<div class="page-header">
  <% if @user.counselor_id == nil %>
    <h1 class="font-weight-bold">상담사 배정</h1>
  <% else %> 
    <h1 class="font-weight-bold">상담사 변경</h1>
  <% end %>
</div>
<hr class="headerUnderline">
 <%= form_for([@user], html: { role: "form" }) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group"></div>
    <%= f.label "배정 받을 상담사 이름" %>
    <%= f.select :counselor_id, User.where(:user_type => "counselor").collect{|p| [ p.name, p.id ]}, { include_blank: true }, class: "form-control" %>
  </div>

<hr>
<div class = "newFooter">
  <div class = "mr-2"> 
    <%= f.submit "배정 완료", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div>
    <%= link_to users_path, class: 'btn btn-outline-dark' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      취소
    <% end %>
  </div>
</div>



