<div class="page-header">
  <h1 class="font-weight-bold ">
    <% if current_user.user_type == "admin" %>
      사용자 관리
    <%else%>
      내담자 관리
    <%end%>
  </h1>
</div>
<hr class="headerUnderline">
<% if current_user.user_type == "admin" %>
  <div id= "groupAuthButton">
    <div>
      <select class="custom-select custom-select-lg mb-3">

        <% if @user_type == '1' %>
          <option value="all">전체</option>
          <option value=0>내담자</option>
          <option value=1 selected>상담사</option>
        <% elsif @user_type == '0'  %>
          <option value="all">전체</option>
          <option value=0 selected>내담자</option>
          <option value=1>상담사</option>
        <% else %>
          <option value="all">전체</option>
          <option value=0>내담자</option>
          <option value=1>상담사</option>
        <% end %>
      </select>
    </div>
    <div>
      <%= link_to assign_counselor_path, class: 'btn btn-secondary mr-2' do %>
        <span>상담사 배정</span>
      <% end %>
      <%= link_to users_auth_path, class: 'btn btn-primary' do %>
        <span>상담사 권한 부여</span>
      <% end %>
    </div>
  </div>
<% end %>

<div class="table-responsive">
  <table class="table table table-hover">
    <thead class="bg-light text-center">
      <th>이름</th>
      <th>닉네임</th>
      <th>성별</th>
      <th>출생년도</th>
      <th>학번</th>
      <th>사용자 종류</th>
      <% if @user_type != '1' %>
        <th>신호등</th>
      <% end %>
      <th></th>
    </thead>
    <tbody>
      <% if current_user.user_type == "admin"%>
        <% @users.each do |user| %>
        <% if user.user_type == "normal"%>
          <tr class="normal" onclick="location.href='<%= user_timelines_path(user) %>'">
        <% else %>
          <tr class="counselor" onclick="location.href='<%=user_path(user) %>'">
        <% end %>  
            <td class="text-center"><%= user.name %></td>
            <td class="text-center"><%= user.nickname %></td>
            <td class="text-center"><%= I18n.t("gender.#{user.gender}") %></td>
            <td class="text-center"><%= user.birth_year %></td>
            <td class="text-center"><%= user.student_no %></td>
            <% if user.user_type == "counselor"%>
              <td >
                <div class="orangeBadge">
                  <%= I18n.t("user_type.#{user.user_type}") %>
                </div>
              </td>
            <% else %>
              <td>
                <div class="greenBadge">
                  <%= I18n.t("user_type.#{user.user_type}") %>
                </div>
              </td> 
            <% end %> 
            <% if @user_type != '1' %> 
              <td>
                <% if user.user_type == "normal" && Timeline.where(:user => user).where(:timeline_type => "day_history").present? && @ex_histo_exist && ( Date.today - Timeline.where(:user => user).where(:timeline_type => "day_history").last.rdate ).to_i == 0  %>
                  <span class="greenDot"></span>
                <% elsif user.user_type == "normal" && Timeline.where(:user => user).where(:timeline_type => "day_history").present? && @ex_histo_exist && ( Date.today - Timeline.where(:user => user).where(:timeline_type => "day_history").last.rdate ).to_i == 1  %>
                  <span class="yellowDot"></span>
                <% elsif user.user_type == "normal" %>
                  <span class="redDot"></span>
                <% end %>
              </td>
            <% end %> 
            <td class="modifyButtons">
              <%if user.user_type == "normal" && user.counselor_id == nil%>
                <%= link_to '상담사 배정하기',  edit_user_path(user), class: "btn btn-secondary btn-sm mr-2" %>
              <% elsif user.user_type == "counselor" %>
                <%= link_to '내담자로 전환', promoteToNormal_user_path(user), class: "btn btn-success btn-sm mr-2", data: { confirm: "#{user.name}을 내담자로 전환하시겠습니까?" } %>    
              <% else %>
                <%= link_to '상담사 변경하기',  edit_user_path(user), class: "btn btn-info btn-sm mr-2" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <% @my_users.each do |user| %>
        <tr onclick="location.href='<%= user_timelines_path(user) %>'">
            <td class="text-center"><%= user.name %></td>
            <td class="text-center"><%= user.nickname %></td>
            <td class="text-center"><%= I18n.t("gender.#{user.gender}") %></td>
            <td class="text-center"><%= user.birth_year %></td>
            <td class="text-center"><%= user.student_no %></td>
          <% if user.user_type == "counselor"%>
            <td >
              <div class="orangeBadge">
                <%= I18n.t("user_type.#{user.user_type}") %>
              </div>
            </td>
            <% else %>
              <td>
                <div class="greenBadge">
                  <%= I18n.t("user_type.#{user.user_type}") %>
                </div>
              </td> 
            <% end %>
            <td>
              <% if user.user_type == "normal" && Timeline.where(:user => user).where(:timeline_type => "day_history").present? && @ex_histo_exist && ( Date.today - Timeline.where(:user => user).where(:timeline_type => "day_history").last.rdate ).to_i == 0  %>
                <span class="greenDot"></span>
              <% elsif user.user_type == "normal" && Timeline.where(:user => user).where(:timeline_type => "day_history").present? && @ex_histo_exist && ( Date.today - Timeline.where(:user => user).where(:timeline_type => "day_history").last.rdate ).to_i == 1  %>
                <span class="yellowDot"></span>
              <% elsif user.user_type == "normal" %>
                <span class="redDot"></span>
              <% end %>
            </td>  
            <td></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div class=pagination>
    <% if current_user.user_type == "admin"%>
      <%= paginate @users, theme: 'twitter-bootstrap-4' %>
    <% else %>
      <%= paginate @my_users, theme: 'twitter-bootstrap-4' %>
    <% end %> 
  </div>
  <hr class="footerLine">
</div>
<script>
  $('select').on('change', function() {
    var url = "/users" + (this.value != "all" ? ("?user_type="+this.value) : (""))
    window.location.href = url;
  });
</script>