<div class="page-header">
  <h1>
    <h1 class="font-weight-bold"><%= @user.name %> 상담사의 내담자</h1> 
    <hr class="headerUnderline">
  </h1>
</div>

<% if @clients.length != 0 %>
  <div class="table-responsive">
    <table class="table table table-hover">
      <thead class="bg-light">
        <tr class="text-center">
          <th>이름</th>
          <th>닉네임</th>
          <th>성별</th>
          <th>출생년도</th>
          <th>학번</th>
        </tr>
      </thead>

      <tbody>
            <% @clients.each do |client| %>
            <tr>
              <td class="text-center"><%= client.name %></td>
              <td class="text-center"><%= client.nickname %></td>
              <td class="text-center"><%= I18n.t("gender.#{client.gender}") %></td>
              <td class="text-center"><%= client.birth_year %></td>
              <td class="text-center"><%= client.student_no %></td>
            </tr>
            <% end %>
      </tbody>
      
    </table>
  </div>
<% else %>
  <h5>배정받은 내담자가 없습니다.</h5>
<% end %>

<%= link_to users_path, class: 'm-1 btn btn-primary' do %>
  <span class="glyphicon glyphicon-pencil"></span>
  Back
<% end %>
