<%= form_for(@episode, html: { role: "form" }) do |f| %>
  <% if @episode.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@episode.errors.count, "error") %> prohibited this episode from being saved:</h4>

      <ul>
      <% @episode.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "제목" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
