<div class="page-header">
  <h1>회기 수정</h1>
</div>

<%= render 'form' %>


<hr>
<%= link_to episodes_path, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Back
<% end %>
<%= link_to @episode, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-info-sign"></span>
  Show
<% end %>
