<div class="page-header">
  <h1 class="font-weight-bold">마음여행 관리 - 회기 목록</h1>
</div>
<hr class="headerUnderline">

<div class="table-responsive">
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th>순서</th>
        <th>제목</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @episodes) do |episode| %>
        <td><%= episode.no %></td>
        <td><%=link_to episode.title, episode_exercises_path(episode) %></td>
        <td>
          <%= link_to '수정', edit_episode_path(episode) %> 
        </td>
      <% end %>
    </tbody>
  </table>
  <hr class="footerLine">
  <div id= "groupAuthButton">
  <%= link_to episodes_preview_path, class: 'btn btn-primary' do %>
    <span>회기 페이지 미리보기</span>
  <% end %>  
</div>
