<div class="page-header">
  <h1 class="font-weight-bold">회기 페이지 미리보기</h1>
</div>
  <hr class="headerUnderline">

  <div class="sample-page image-type">
    <div id="exercises_preview_title">
      마음여행
    </div>
    <% @episodes.each do |episode| %>
        <div  id="episodes_preview_content">
        <div><%= episode.no %></div>
        <i class="fas fa-clock"></i>
        <div class="ml-4"><%=episode.title%></div>
      </div>
    <% end %>
  </div>
  <hr class="footerLine">
  <div class="footer"> 
    <div>
      <%= link_to episodes_path, class: 'btn btn-outline-dark' do %>
        <span> 회기 목록</span>
      <% end %>
  </div>
</div>
