<div class="page-header">
  <h1>Show episode</h1>
</div>

<dl class="dl-horizontal">
  <dt>No:</dt>
  <dd><%= @episode.no %></dd>

  <dt>Title:</dt>
  <dd><%= @episode.title %></dd>

</dl>
<%= link_to episodes_path, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Back
<% end %>
<%= link_to edit_episode_path(@episode), class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-pencil"></span>
  Edit
<% end %>
