<div class="page-header">
  <h1>Home#help</h1>
</div>
<div class="row">
  <div class="col-sm-12">
    <ul class="list-group">
      <li class="list-group-item">
        <h3>OAuth Token</h3>
        <b>Sign-in</b>
        <pre>
        POST /oauth/token HTTP/1.1
        Content-Type: application/x-www-form-urlencoded
        Cache-Control: no-cache

        grant_type=password&username={EMAIL}&password={PASSWORD}
        </pre>
        <hr>
        <b>
        Signout
        </b>
        <pre>
        POST /oauth/revoke HTTP/1.1        
        Content-Type: application/x-www-form-urlencoded
        Cache-Control: no-cache
        
        =76c43d370e6b8d85b58ea4431a3ca574106bf2d00bab3816ebafff1c61d900ed
        </pre>
        <hr>
        <b>토큰 받기 테스트</b>
        <div class="well">
          <form class="form form-token" action="/oauth/token" method="POST">
            <input type="hidden" name="grant_type" value="password">
            <div class="form-group">
              <label>Username</label>
              <input type="text" name="username" value="" class="form-control">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" name="password" value="" class="form-control">
            </div>
            <div class="form-actions">
              <button id="btnToken" type="button" class="btn btn-primary">토큰 받기 테스트</button>
            </div>
          </form>
          <hr>
          <div>
            <pre id="result">

            </pre>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <h3>API의 Pagination</h3>
        <a href="https://github.com/monterail/grape-kaminari">https://github.com/monterail/grape-kaminari</a>를 참고하기 바람.
      </li>
    </ul>
  </div>
</div>
<script>
$("#btnToken").click(function() {
  $.post('/oauth/token', $(".form-token").serialize(), function(data) {
    $("#result").text(JSON.stringify(data));
  });
});
$( document ).ajaxError(function(event, xhr) {
  console.log(arguments)
  $( "#result" ).text( "Error: failed to get a token\n" + xhr.responseText );
})
</script>