<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


<title>개인정보처리방침</title>
</head>
<body>
	<p><p class='sub_p mgt10'><span class='colorLightBlue'>1. 개인정보의 처리 목적</span> <명지대 DELAB >(‘http://3.35.89.246’이하 ‘마음여행’) 은(는) 다음의 목적을 위하여 개인정보를 처리하고 있으며, 다음의 목적 이외의 용도로는 이용하지 않습니다.</p><p class='sub_p'> - 고객 가입의사 확인, 고객에 대한 서비스 제공에 따른 본인 식별.인증, 회원자격 유지.관리, 물품 또는 서비스 공급에 따른 금액 결제, 물품 또는 서비스의 공급.배송 등</p><p class='sub_p mgt30'><strong>2. 개인정보의 처리 및 보유 기간</strong></p><p class='sub_p mgt10'>① <명지대 DELAB >(‘http://3.35.89.246’이하 ‘마음여행’) 은(는) 정보주체로부터 개인정보를 수집할 때 동의 받은 개인정보 보유․이용기간 또는 법령에 따른 개인정보 보유․이용기간 내에서 개인정보를 처리․보유합니다.</p><p class='sub_p mgt10'>② 구체적인 개인정보 처리 및 보유 기간은 다음과 같습니다.</p><p class='sub_p'>☞ 아래 예시를 참고하여 개인정보 처리업무와  개인정보 처리업무에 대한 보유기간 및 관련 법령, 근거 등을 기재합니다.</p><p class='sub_p'>(예시)- 고객 가입 및 관리 : 서비스 이용계약 또는 회원가입 해지시까지, 다만 채권․채무관계 잔존시에는 해당 채권․채무관계 정산시까지</p><p class='sub_p'>- 전자상거래에서의 계약․청약철회, 대금결제, 재화 등 공급기록 : 5년 </p>

<p class="lh6 bs4"><strong>3. 정보주체와 법정대리인의 권리·의무 및 그 행사방법 이용자는 개인정보주체로써 다음과 같은 권리를 행사할 수 있습니다.</strong></p><p class="ls2">① 정보주체는 명지대 DELAB (‘http://3.35.89.246’이하 ‘마음여행) 에 대해 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다.</p><p class='sub_p'>1. 개인정보 열람요구</p><p class='sub_p'> 2. 오류 등이 있을 경우 정정 요구</p><p class='sub_p'> 3. 삭제요구</p><p class='sub_p'> 4. 처리정지 요구</p></br></br><p class='lh6 bs4'><strong>4. 처리하는 개인정보의 항목 작성 </strong></br></br> ① <em class="emphasis"><명지대 DELAB >('http://3.35.89.246'이하  '마음여행')</em>은(는) 다음의 개인정보 항목을 처리하고 있습니다.</p><ul class='list_indent2 mgt10'><li class='tt'>1<ndroid.permission.RECORD_AUDIO을 사용자 목소리 녹음에 사용합니다.></li><li>필수항목 : 이메일, 비밀번호, 로그인ID, 성별, 생년월일, 이름, 음성</li><li>- 선택항목 : </li></ul></br></br><p class='lh6 bs4'><strong>5. 개인정보의 파기<em class="emphasis"><명지대 DELAB >('마음여행')</em>은(는) 원칙적으로 개인정보 처리목적이 달성된 경우에는 지체없이 해당 개인정보를 파기합니다. 파기의 절차, 기한 및 방법은 다음과 같습니다.</strong></p><p class='ls2'>-파기절차</br>이용자가 입력한 정보는 목적 달성 후 별도의 DB에 옮겨져(종이의 경우 별도의 서류) 내부 방침 및 기타 관련 법령에 따라 일정기간 저장된 후 혹은 즉시 파기됩니다. 이 때, DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 다른 목적으로 이용되지 않습니다.</br></br>-파기기한</br>이용자의 개인정보는 개인정보의 보유기간이 경과된 경우에는 보유기간의 종료일로부터 5일 이내에, 개인정보의 처리 목적 달성, 해당 서비스의 폐지, 사업의 종료 등 그 개인정보가 불필요하게 되었을 때에는 개인정보의 처리가 불필요한 것으로 인정되는 날로부터 5일 이내에 그 개인정보를 파기합니다.</p><p class='sub_p mgt10'></p></br></br><p class="lh6 bs4"><strong>6. 개인정보 자동 수집 장치의 설치•운영 및 거부에 관한 사항</strong></p><p class="ls2">명지대 DELAB  은 정보주체의 이용정보를 저장하고 수시로 불러오는 ‘쿠키’를 사용하지 않습니다.<p class='sub_p mgt30'><strong>7. 개인정보 보호책임자 작성 </strong></p><p class='sub_p mgt10'> ①  <span class='colorLightBlue'>명지대 DELAB (‘http://3.35.89.246’이하 ‘마음여행)</span> 은(는) 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다.</p><ul class='list_indent2 mgt10'><li class='tt'>▶ 개인정보 보호책임자 </li><li>성명 :최우영</li><li>직책 :연구원</li><li>직급 :대학원생</li><li>연락처 :010-3648-7574, billiamchoi4u@gmail.com, </li></ul><p class='sub_p'>※ 개인정보 보호 담당부서로 연결됩니다.<p/> <ul class='list_indent2 mgt10'><li class='tt'>▶ 개인정보 보호 담당부서</li><li>부서명 :연구실</li><li>담당자 :최우영</li><li>연락처 :010-3648-7574, billiamchoi4u@gmail.com, </li></ul><p class='sub_p'>② 정보주체께서는 명지대 DELAB (‘http://3.35.89.246’이하 ‘마음여행) 의 서비스(또는 사업)을 이용하시면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임자 및 담당부서로 문의하실 수 있습니다. 명지대 DELAB (‘http://3.35.89.246’이하 ‘마음여행) 은(는) 정보주체의 문의에 대해 지체 없이 답변 및 처리해드릴 것입니다.</p><p class='sub_p mgt30'><strong>8. 개인정보 처리방침 변경 </strong></p><p class='sub_p mgt10'>①이 개인정보처리방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 변경사항의 시행 7일 전부터 공지사항을 통하여 고지할 것입니다.</p></br></br><p class='lh6 bs4'><strong>9. 개인정보의 안전성 확보 조치 <em class="emphasis"><명지대 DELAB >('마음여행')</em>은(는) 개인정보보호법 제29조에 따라 다음과 같이 안전성 확보에 필요한 기술적/관리적 및 물리적 조치를 하고 있습니다.</strong></p><p class='sub_p mgt10'>1. 정기적인 자체 감사 실시</br> 개인정보 취급 관련 안정성 확보를 위해 정기적(분기 1회)으로 자체 감사를 실시하고 있습니다.</br></br>2. 개인정보 취급 직원의 최소화 및 교육</br> 개인정보를 취급하는 직원을 지정하고 담당자에 한정시켜 최소화 하여 개인정보를 관리하는 대책을 시행하고 있습니다.</br></br>3. 개인정보의 암호화</br> 이용자의 개인정보는 비밀번호는 암호화 되어 저장 및 관리되고 있어, 본인만이 알 수 있으며 중요한 데이터는 파일 및 전송 데이터를 암호화 하거나 파일 잠금 기능을 사용하는 등의 별도 보안기능을 사용하고 있습니다.</br></br>4. 비인가자에 대한 출입 통제</br> 개인정보를 보관하고 있는 물리적 보관 장소를 별도로 두고 이에 대해 출입통제 절차를 수립, 운영하고 있습니다.</br></br></p></p>
</body>
</html>
