<%= form_for(@answer, html: { role: "form" }) do |f| %>
  <% if @answer.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h4>

      <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :report %>
    <%= f.text_field :report, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :question_type %>
    <%= f.number_field :question_type, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :question_title %>
    <%= f.text_field :question_title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :question_value %>
    <%= f.text_area :question_value, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :value %>
    <%= f.text_area :value, class: "form-control" %>
  </div>
<%= f.submit class: "btn btn-primary" %>
<% end %>
