<div class="page-header">
  <h1>Editing answer</h1>
</div>

<%= render 'form' %>


<hr>
<%= link_to answers_path, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Back
<% end %>
<%= link_to @answer, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-info-sign"></span>
  Show
<% end %>
