<div class="page-header">
  <h1>Listing answers</h1>
</div>

<div class="table-responsive">
  <table class="table table-sm table-hover">
    <thead>
      <tr>
            <th>Question type</th>
            <th>Question title</th>
            <th>Question value</th>
            <th>Value</th>
            <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @answers) do |answer| %>
            <td><%= answer.question_type %></td>
            <td><%= answer.question_title %></td>
            <td><%= answer.question_value %></td>
            <td><%= answer.value %></td>
            <td>
          <%= link_to 'Show', answer %> |
          <%= link_to 'Edit', edit_answer_path(answer) %> |
          <%= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>

  <%= link_to new_answer_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Answer
  <% end %>
  
</div>
