<div class="page-header">
  <h1>Show answer</h1>
</div>

<dl class="dl-horizontal">

  <dt>Question type:</dt>
  <dd><%= @answer.question_type %></dd>

  <dt>Question title:</dt>
  <dd><%= @answer.question_title %></dd>

  <dt>Question value:</dt>
  <dd><%= @answer.question_value %></dd>

  <dt>Value:</dt>
  <dd><%= @answer.value %></dd>

</dl>
<%= link_to answers_path, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Back
<% end %>
<%= link_to edit_answer_path(@answer), class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-pencil"></span>
  Edit
<% end %>
