<div class="container">
  <div class="row">
    <div class="col-3">
    </div>
      <div class="col-6">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="card">
            <div class="card-header text-center">
              <h2>로그인</h2>
            </div>
            <div class="card-body">
              <div class="form-group">
                <%= f.label "이메일"%><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"%>
              </div>

              <div class="form-group">
                <%= f.label "비밀번호" %><br />
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="field text-center">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>

              <div class="actions text-center">
                <%= f.submit "로그인", class: "btn btn-primary pr-5 pl-5" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-3">
    </div>
  </div>
  
</div>


