<div class="page-header">
  <h1>Listing <%= plural_table_name %></h1>
</div>

<div class="table-responsive">
  <table class="table table-sm table-hover">
    <thead>
      <tr>
    <% attributes.each do |attribute| -%>
        <th><%= attribute.human_name %></th>
    <% end -%>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%%= content_tag_for(:tr, @<%= plural_table_name %>) do |<%= singular_table_name %>| %>
    <% attributes.each do |attribute| -%>
        <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
    <% end -%>
        <td>
          <%%= link_to 'Show', <%= singular_table_name %> %> |
          <%%= link_to 'Edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>) %> |
          <%%= link_to 'Destroy', <%= singular_table_name %>, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <%% end %>
    </tbody>
  </table>

  <%%= link_to new_<%= singular_table_name %>_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New <%= human_name %>
  <%% end %>
  
</div>
