<div class="page-header">
  <h1>New <%= singular_table_name %></h1>
</div>

<%%= render 'form' %>

<%%= link_to <%= index_helper %>_path, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Back
<%% end %>
