
<div class="sample-page audio-type" style="background-image: url('<%=@step.cover.service_url %>">
  <h3><%=@step.title%></h3>
  <div class="text">
    <%=h @step.description %>
  </div>
</div>
<div>
  <audio controls>
    <source src="<%=@step.audio.service_url %>" type="audio/ogg">
    Your browser does not support the audio element.
  </audio>
</div>