<%= form_for([@exercise, @step], html: { role: "form" }) do |f| %>
  <% if @step.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@step.errors.count, "error") %> prohibited this step from being saved:</h4>

      <ul>
      <% @step.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :step_type %>
    <%= f.select :step_type, Step.step_types.keys.map{|k| [I18n.t("step_type.#{k}"), k]}, {}, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :action_name %>
    <%= f.text_field :action_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :audio %>
    <%= f.file_field :audio, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :video %>
    <%= f.file_field :video, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :"cover image" %>
    <%= f.file_field :cover, class: "form-control" %>
  </div>
<%= f.submit class: "btn btn-primary" %>
<% end %>