<div class="sample-page textbox-type" >
  <h3><%=@step.title%></h3>
  <div class="text">
    <%=h @step.description %>
  </div>
  <div class="textbox-title">
    <% @step.questions.each do |question| %>
      <%= question.title %>.
      <%= question.value %>
      <textarea disable class="form-control"  rows="1" ></textarea>
    <%end%>
  </div>
</div>