<div class="page-header">
  <h1 class="font-weight-bold"><%= @exercise.title %></h1>
</div>
<hr class="headerUnderline">
<div class="table-responsive">
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th>순서</th>
        <th>종류</th>
        <th>제목</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @steps) do |step| %>
        <td><%= step.no %></td>
        <td><%=t "step_type.#{step.step_type}" %></td>
        <td><%=link_to step.title, step %></td>
      <% end %>
    </tbody>
  </table>
  <hr class="footerLine">
  <%= link_to 'Back', episode_exercises_path(@episode), class: 'btn btn-secondary' %>
</div>
