<div class="page-header">
  <h1 class="font-weight-bold">
    <div class="badge badge-pill badge-success"><%=@step.no%>/<%=@exercise.steps.size%></div> 
    <%=@step.title%> 
  </h1>
</div>
<hr class="headerUnderline">

<table class="table">
  <thead>
    <tr>
      <th>타입 </th>
      <th><%=t "step_type.#{@step.step_type}" %></th>
    </tr>  
  </thead>
</table>

<% if @step.image_type? || @step.image_full_type? %>
  <%=render partial:"image" %>
<% end %>
<% if @step.audio_type?  %>
  <%=render partial:"audio" %>
<% end %>
<% if @step.textbox_type? || @step.question_type? %>
  <%=render partial:"textbox" %>
<% end %>
<hr class="footerLine">
<%= link_to exercise_steps_path(@exercise), class: 'm-1 btn btn-primary' do %>
  <span class="glyphicon glyphicon-pencil"></span>
  Back
<% end %>
