<%= form_for(@feedback, html: { role: "form" }) do |f| %>
  <% if @feedback.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h4>

      <ul>
      <% @feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user %>
    <%= f.text_field :user, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :exercise %>
    <%= f.text_field :exercise, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :response %>
    <%= f.text_area :response, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :responsed_at %>
    <%= f.datetime_select :responsed_at, class: "form-control" %>
  </div>
<%= f.submit class: "btn btn-primary" %>
<% end %>
