<div class="page-header">
  <h1>Listing feedbacks</h1>
</div>

<div class="table-responsive">
  <table class="table table-sm table-hover">
    <thead>
      <tr>
            <th>User</th>
            <th>Exercise</th>
            <th>Response</th>
            <th>Responsed at</th>
            <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @feedbacks) do |feedback| %>
            <td><%= feedback.user %></td>
            <td><%= feedback.exercise %></td>
            <td><%= feedback.response %></td>
            <td><%= feedback.responsed_at %></td>
            <td>
          <%= link_to 'Show', feedback %> |
          <%= link_to 'Edit', edit_feedback_path(feedback) %> |
          <%= link_to 'Destroy', feedback, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>

  <%= link_to new_feedback_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Feedback
  <% end %>
  
</div>
