<div class="page-header">
  <h1>Show feedback</h1>
</div>

<dl class="dl-horizontal">
  <dt>User:</dt>
  <dd><%= @feedback.user %></dd>

  <dt>Exercise:</dt>
  <dd><%= @feedback.exercise %></dd>

  <dt>Response:</dt>
  <dd><%= @feedback.response %></dd>

  <dt>Responsed at:</dt>
  <dd><%= @feedback.responsed_at %></dd>

</dl>
<%= link_to feedbacks_path, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Back
<% end %>
<%= link_to edit_feedback_path(@feedback), class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-pencil"></span>
  Edit
<% end %>
