<div class="page-header">
  <h1>피드백 수정하기</h1>
</div>


<%= form_for([@user, @timeline] , html: { role: "form" }) do |f| %>
  <% if @timeline.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@timeline.errors.count, "error") %> prohibited this timeline from being saved:</h4>

      <ul>
      <% @timeline.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.hidden_field :user_id, :value => @user.id %>
  </div>
  
  <div class="form-group">
    <%= f.hidden_field :timeline_type, :value => "feedback" %>
  </div>

  <div class="form-group">
    <%= f.hidden_field :rdate, :value => Date.today %>
  </div>

  <div class="form-group">
     <%= f.hidden_field :no%>
  </div>

  <%= f.fields_for :feedback do |feedback_form| %>
    <div class="form-group">
      <%= feedback_form.hidden_field :user_id, :value => current_user.id %>
    </div>

    <div class="form-group">
      <%= feedback_form.label '피드백 일차' %> 
      <%= feedback_form.select :target_day_seq, options_for_select(["1회 피드백","2회 피드백","3회 피드백", "4회 피드백", "5회 피드백", "6회 피드백", "7회 피드백", "8회 피드백"]), {}, { class: "form-control" } %>
    </div>
    
    <div class="form-group">
      <%= feedback_form.label '피드백 제목' %> 
      <%= feedback_form.text_field :title, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= feedback_form.label '내용' %>
      <%= feedback_form.text_area :response, class: "form-control",  size: "30x10"%>
    </div>
    
    <div class="form-group">
      <%= feedback_form.hidden_field :responsed_at, :value => Date.today %>
    </div>
	<% end %>

<hr class="footerLine">
<div class="newFooter">
  <div class="mr-2"> 
    <%= link_to user_timelines_path(@user), class: 'btn btn-outline-dark' do %>
      <span>취소</span>
    <% end %>
  </div>
  <div>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
  </div>
</div>



