<div class="page-header">
  <h1 class="font-weight-bold"><%= @timeline.user.name %>님 타임라인</h1>
</div>
<hr class="headerUnderline">
<h4 class="font-weight-bold mt-3 mb-3">마음 여행</h1>
<% if @ex_histo_exist %>
  <div class="table-responsive">
    <table class="table table table-hover">
      <thead class="bg-light text-center">
        <tr> 
            <th>진행일차</th>         
            <th>기록일</th>
            <th>타임라인 타입</th>
        </tr>
      </thead>

      <tbody class="text-center">
        <%= content_tag_for(:tr, @timelines) do |timeline| %> 
          <tr onclick="location.href='<%= user_timeline_path(@user, timeline) %>'">
          <% if timeline.timeline_type == 'day_history'%>
            <td><%= timeline.day_history.day_seq %>일차</td>
          <% else %>
            <td><%= timeline.feedback.target_day_seq %></td>  
          <% end %>  
            <td><%= timeline.rdate.strftime("%Y/%m/%d") %></td>
            <% if timeline.timeline_type == "day_history" %>
              <td>
                <div class="greenBadge">
                  <%= I18n.t("timeline_type.#{timeline.timeline_type}") %>
                </div>
              </td>
            <% else %>
              <td >
                <div class="orangeBadge">
                  <%= I18n.t("timeline_type.#{timeline.timeline_type}") %>
                </div>
              </td>
            <% end %>  
          </tr> 
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <h5>아직 기록이 없습니다.</h5>
<% end %>
  <h4 class="font-weight-bold mt-3 mb-3">마음 일지</h1>
  <% if @mind_trackings.length != 0 %>
    <div class="table-responsive">
    <table class="table table table">
      <thead class="bg-light text-center">
        <tr> 
              <th>날짜</th>
              <th>우울한 정도</th>         
              <th>웅울극복 노력</th>
              <th>수면의 양</th>
              <th>수면의 질</th>
              <th>목표실천정도</th>
        </tr>
      </thead>

      <tbody class="text-center">
        <%= content_tag_for(:tr, @mind_trackings) do |mind_tracking| %> 
          <td><%=mind_tracking.rdate.strftime("%Y/%m/%d")%></td>
          <td><%=mind_tracking.answer1%></td>
          <td><%=mind_tracking.answer2%></td>
          <td><%=mind_tracking.answer3%></td>
          <td><%=mind_tracking.answer4%></td>
          <td><%=mind_tracking.answer5%></td>
        <% end %>
      </tbody>
    </table>
  <% else %>   
    <h5>아직 기록이 없습니다.</h5>
  <% end %>

    

  <hr class="footerLine">
  <div class="footer"> 
    <div>
      <%= link_to users_path, class: 'btn btn-outline-dark' do %>
        <span>
        <% if current_user.user_type == "admin" %>
          사용자 관리
        <%else%>
          내담자 관리
        <%end%>
        </span>
      <% end %>
    </div>
    <div>
      <%= link_to new_user_timeline_path(@user), class: 'btn btn-primary' do %>
        <span></span>
        피드백 작성
      <% end %>
    </div>
  </div>
</div>
