
  <div class="page-header">
    <h1 class="font-weight-bold"><%= @timeline.user.name %>님 타임라인</h1>
    <hr class="headerUnderline">
  </div>
<% if @timeline.timeline_type == "day_history" %>
  <div class="headSummary">
    <div> 
        <span class="greenBadgeHeader">
          <div>
            <%= I18n.t("timeline_type.#{@timeline.timeline_type}") %>
          </div>
        </span>
      <span class="title">
        <%= @timeline.day_history.day_seq %>일차
      </span>
    </div> 
    <div>
      <span class="mr-2">
        <i></i>  <%= @timeline.day_history.last_episode_no %> 회기 활동 <%= @timeline.day_history.last_exercise_no %>/<%= @timeline.day_history.total_exercise_no %> 완료 
      </span>
      <span class="mr-2">
        <i></i> 총 <%= @timeline.day_history.duration %>분 소요
      </span>
      <span class="mr-2">
        <i></i> <%= @timeline.rdate.strftime("%Y/%m/%d") %>
      </span>
    </div>
  </div>

  <div class="mt-3">
    <table class="table table table-hover">
      <thead class="bg-light">
        <tr class="text-center">
          <th>회기</th>
          <th>활동제목</th>
          <th>활동 완료 시간</th>
          <th>소요시간</th>
   
        </tr>
      </thead>
      <tbody>
    
        <% @timeline.day_history.exercise_history.where.not(end_at: nil).each do |history|%>
          <tr onclick="location.href='<%= user_timeline_exercise_history_path(@timeline.user.id, @timeline, history) %>'", class="text-center">
        
            <td><%= history.exercise.episode.no %>회기</td>
            <td><%= history.exercise.title %></td>
            <td><%= history.end_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
            <td><%= history.duration %>분</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="headSummary">
    <div>
      <span class="orangeBadgeHeader">
        <div>
          <%= I18n.t("timeline_type.#{@timeline.timeline_type}") %>
        </div>
      </span>
      <span class="title">
        <%= @timeline.feedback.target_day_seq %>
      </span>
    </div>
    <div>
      <span class="mr-2">
        <i></i><%= @timeline.feedback.user.name %> 상담사
      </span>
      <span >
        <i></i> <%= @timeline.rdate.strftime("%Y/%m/%d") %>
      </span>
    </div>
  </div>

  <div>
    
    <div>
      <hr class="underHeaderUnder">
      <span class="font-weight-bold"> <%= @timeline.feedback.title %></span>
    </div>
    <hr class="headerUnderLineBelow">
    <div>
      <p> <%= simple_format @timeline.feedback.response %></span>
    </div>
  </div>
<% end %>

<hr class="footerLine">

<div class="footer">
  <div>
    <%= link_to user_timelines_path([@timeline.user]), class: 'btn btn-outline-dark' do %>
      <span class="glyphicon glyphicon-list-alt"> 타임라인 목록 </span>
    <% end %>
  </div>
  <div>
  <% if @timeline.timeline_type == "feedback" %> 
    <%= link_to user_timeline_path(@user, @timeline), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger mr-2' do%>
          <span class="glyphicon glyphicon-pencil"> 삭제 </span>
      <% end %>
  
    <%= link_to edit_user_timeline_path(@user), class: 'btn btn-outline-dark' do %>
        <span class="glyphicon glyphicon-pencil"> 수정 </span>
    <% end %>
  <% else %>
    <%= link_to new_user_timeline_path(@user), class: 'btn btn-primary' do %>
      <span>피드백 작성</span>  
    <% end %>
  <% end %>  
  </div>
</div>

