/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap";
@import "font-awesome";

main {
  margin-top: 66px;
}

h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

.navbar {
  background-color: rgb(46,  144, 146);
  font-weight: bold;
}

.log {
  color: white;
  font-weight: 400;
}

.welcomeText {
  margin-right: 1em;
  color: white;
  font-weight: 400;
}

.container {
  margin-top: 6.5em;
}

.highlight{
  text-shadow: 0 0 1px white;
}

.table>tbody>.borderless>td,
.table>tbody>.borderless>th {
  border-top: none;
}

.normalHeader{
  margin-left:auto; 
  margin-right:0;
}