// Place all the styles related to the exercise_histories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.headerUnderline {
  margin-top: -1.5em;
  background-color: rgb(195,195,195);
  height:0.1em;
  width:100%;
}

.subHeadSummary {
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
}

.underHeaderUnderLine {
  margin-bottom: -0.1em;
  background-color: rgb(195,195,195);
  height:0.05em;
  width:100%;
}

.underHeaderUnderLineBelow {
  margin-top: -0.1em;
  background-color: rgb(230,230,230);
  height:0.05em;
  width:100%;
}
