// Place all the styles related to the steps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sample-page {
  width: 276px;
  height: 487px;
  min-height: 487px;
  border: 2px solid black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;      
  display: block;
  h3 {
    font-size: 12px;
  }
}
#exercises_preview_title {
  display: flex;
  justify-content: space-around;
}

#exercises_preview_content {
  margin-top: 1em;
  padding: 1em 0;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
}

#episodes_preview_content {
  margin-top: 1em;
  padding: 1em 0;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 0.8em;
  display: flex;

}