// Place all the styles related to the timelines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.headerUnderline {
  margin-top: -1.5em;
  background-color: rgb(195,195,195);
  height:0.1em;
  width:100%;
}

.underHeaderUnder {
  margin-bottom: 0.3em;
  background-color: rgb(195,195,195);
  height:0.05em;
  width:100%;
}

.footerLine {
  margin-bottom: 1em;
  background-color: rgb(225, 225, 225);
  height:0.02em;
  width:100%;
}

.headerUnderLineBelow {
  margin-top: 0.3em;
  background-color: rgb(230,230,230);
  height:0.05em;
  width:100%;
}

.headSummary {
  padding: 0.5em;
  background-color:rgb(240,240,240);
  display: flex;
  justify-content: space-between;
}

.orangeBadge {
  background-color: rgb(255, 238, 225);
  width: 60px;
  margin: auto;
  color: orange
}

.greenBadge {
  background-color: rgb(213, 233, 233);
  width: 60px;
  margin: auto;
  color: rgb(55, 149, 151)
}

.greenBadgeHeader {
  background-color: rgb(213, 233, 233);
  width: 60px;
  margin: auto;
  color: rgb(55, 149, 151);
  display: inline-block;
  text-align: center;
}

.orangeBadgeHeader {
  background-color: rgb(255, 238, 225);
  width: 60px;
  margin: auto;
  color: orange;
  display: inline-block;
  text-align: center;
}

.title {
  font-weight: 800;
  font-size: 1.25em;
  margin-left: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.newFooter {
  width: 100;
  display: flex;
  justify-content: flex-end;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #2E9092 !important;
  border-color: #2E9092 !important;
}