// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.orangeBadge {
  background-color: rgb(255, 238, 225);
  width: 60px;
  margin: auto;
  color: orange;
  text-align: center;
}

.greenBadge {
  background-color: rgb(213, 233, 233);
  width: 60px;
  margin: auto;
  color: rgb(55, 149, 151);
  text-align: center;
}

#groupAuthButton {
  display: flex;
  justify-content: space-between;
}

.redDot {
  height: 25px;
  width: 25px;
  background-color: rgb(242, 10, 10);
  border-radius: 50%;
  display:table;
  margin:0 auto;
}

.yellowDot {
  height: 25px;
  width: 25px;
  background-color: rgb(255, 255, 11);
  border-radius: 50%;
  display:table;
  margin:0 auto;
}

.greenDot {
  height: 25px;
  width: 25px;
  background-color: rgb(10, 245, 18);
  border-radius: 50%;
  display:table;
  margin:0 auto;
}

.authCheckbox {
  display: table;
  margin:0 auto;
}

.pagination {
  display: flex;
  justify-content: center;
  
}