<%= form_for(@exercise_history, html: { role: "form" }) do |f| %>
  <% if @exercise_history.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@exercise_history.errors.count, "error") %> prohibited this exercise_history from being saved:</h4>

      <ul>
      <% @exercise_history.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.submit class: "btn btn-primary" %>
<% end %>
