<div class="page-header">
  <h1>Editing exercise_history</h1>
</div>

<%= render 'form' %>


<hr>
<%= link_to exercise_histories_path, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Back
<% end %>
<%= link_to @exercise_history, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-info-sign"></span>
  Show
<% end %>
