<div class="page-header">
  <h1>Listing exercise_histories</h1>
</div>

<div class="table-responsive">
  <table class="table table-sm table-hover">
    <thead>
      <tr>
            <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @exercise_histories) do |exercise_history| %>
            <td><%= exercise_history.id %></td>
          <td>
          <%= link_to 'Show', exercise_history %> |
          <%= link_to 'Edit', edit_exercise_history_path(exercise_history) %> |
          <%= link_to 'Destroy', exercise_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>

  <%= link_to new_exercise_history_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Exercise history
  <% end %>
  
</div>
