<div class="page-header">
  <h1 class="font-weight-bold"><%= @user.name %>님 타임라인</h1>
</div>
<hr class="headerUnderline">

<div class="headSummary">
  <div>
    <span class="greenBadgeHeader">
      <div>
        <%= I18n.t("timeline_type.#{@timeline.timeline_type}") %>
      </div>
    </span>
    <span class="title">
      <%= @timeline.day_history.day_seq %>일차
    </span>
  </div>
  <div>
  <span class="mr-2">
    <i></i>  <%= @timeline.day_history.last_episode_no %> 회기 활동 <%= @timeline.day_history.last_exercise_no %>/<%= @timeline.day_history.total_exercise_no %> 완료 
  </span>
  <span class="mr-2">
    <i></i> 총 <%= @timeline.day_history.duration %>분 소요
  </span>
  <span class="mr-2">
    <i></i> <%= @timeline.rdate.strftime("%Y/%m/%d")=%>
  </span>
  </div>
</div>

<hr class="underHeaderUnderLine">

<div class="subHeadSummary">
  <div>
    <span class="font-weight-bold"><%= @exercise_history.exercise.episode.no %>회기 /</span>
    <span class="font-weight-bold"><%= @exercise_history.exercise.title %></span>
  </div>
  <div>
    <span class="mr-2"><i></i><%= @exercise_history.exercise.time %>분</span>
    <span><i></i><%= @exercise_history.end_at.strftime("%Y/%m/%d %H:%M:%S") %></span>
  </div>
</div>
<hr class="underHeaderUnderLineBelow">
<div class="mt-3">
    <table class="table table table">
      <thead>
        <tr class="text-center">
          <th style="width: 16%"></th>
          <th style="width: 42%">질문</th>
          <th style="width: 42%">답변</th>
        </tr>
      </thead>
      <tbody>
    
        <% @exercise_history.answers.each do |answer|%>
          <tr class= "<%= !answer.question_value ? 'borderless' : nil %>">
            <td><%=answer.question_title%></td>
            <td><%=answer.question_value%></td>
            <td><%=answer.value%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<hr class="underHeaderUnderLineBelow">

<div class="footer">
  <div>
    <%= link_to user_timeline_path(@user, @timeline), class: 'btn btn-outline-dark' do %>
      <span> 활동 목록</span>
    <% end %>
  </div>
  <div>
    <%= link_to new_user_timeline_path(@user), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      피드백 작성
    <% end %>
  </div>
</div>