<%= form_for([@episode, @exercise], html: { role: "form" }) do |f| %>
  <% if @exercise.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h4>

      <ul>
      <% @exercise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control", placeholder: '활동 제목' %>
  </div>
  <div class="form-group">
    <%= f.label :time %>
    <%= f.number_field :time, class: "form-control", placeholder: '(분)' %>
  </div>
<%= f.submit class: "btn btn-primary" %>
<% end %>
