<div class="page-header">
  <h1>Editing exercise</h1>
</div>

<%= render 'form' %>
<hr>
<%= link_to episode_exercises_path(@episode), class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Back
<% end %>
<%= link_to @exercise, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-info-sign"></span>
  Show
<% end %>


