<div class="page-header">
  <h1 class="font-weight-bold">회기 <%=@episode.no%> - <%= @episode.title %></h1>
</div>
<hr class="headerUnderline">
<div class="table-responsive">
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th>순서</th>
        <th><%= Exercise.human_attribute_name :title %></th>
        <th><%= Exercise.human_attribute_name :time %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @exercises) do |exercise| %>
        <td><%= exercise.no %></td>
        <td><%=exercise.title %></td>
        <td><%= exercise.time %></td>
        <td>
          <%= link_to '수정', edit_exercise_path(exercise) %>
        </td>
      <% end %>
    </tbody>
  </table>
  <hr class="footerLine">
  <div class="footer"> 
    <div>
      <%= link_to episodes_path, class: 'btn btn-outline-dark' do %>
        <span> 회기 목록</span>
      <% end %>
    </div>
    <div>
      <%= link_to episode_exercise_preview_path, class: 'btn btn-primary' do %>
        <span></span>
        활동 페이지 미리보기
      <% end %>
    </div>
  </div>
</div>