<div class="page-header">
  <h1>New exercise</h1>
</div>

<%= render 'form' %>

<%= link_to exercises_path, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Back
<% end %>
