<div class="page-header">
  <h1 class="font-weight-bold">활동 페이지 미리보기</h1>
</div>
  <hr class="headerUnderline">

  <div class="sample-page image-type">
    <div id="exercises_preview_title">
      <%= @episode.title %>
    </div>
    <% @exercises.each do |exercise| %>
      <div class="border border-secondary" id="exercises_preview_content">
        <div><%= exercise.title %></div>
        <i class="fas fa-clock"></i>
        <div><%=exercise.time%>분</div>
      </div>
    <% end %>
  </div>

  <hr class="footerLine">
</div>
<div class="footer"> 
    <div>
      <%= link_to  episode_exercises_path(@episode), class: 'btn btn-outline-dark' do %>
        <span> 활동 목록</span>
      <% end %>
  </div>
</div>