<div class="page-header">
  <h1>Show exercise</h1>
</div>

<dl class="dl-horizontal">
  <dt>No:</dt>
  <dd><%= @exercise.no %></dd>

  <dt>Title:</dt>
  <dd><%= @exercise.title %></dd>

  <dt>Time:</dt>
  <dd><%= @exercise.time %></dd>

  <dt>Episode:</dt>
  <dd><%= @exercise.episode %></dd>

</dl>
<%= link_to exercises_path, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Back
<% end %>
<%= link_to edit_exercise_path(@exercise), class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-pencil"></span>
  Edit
<% end %>
