<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Promptech">
    <title>마음여행</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark  fixed-top">
      <a class="navbar-brand" href="/">마음여행 ACT</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <% if current_user && current_user.user_type != "normal" %>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%=link_to current_user.user_type == "admin" ? "사용자 관리" : "내담자 관리", users_path, class: 'nav-link' %>
            </li>
            <% if current_user.user_type == "admin" %>
              <li class="nav-item">
                <%=link_to "마음여행 관리", episodes_path, class: 'nav-link' %>
              </li>
            <% end %>
            <li class="nav-item">
              <%=link_to "내담자와의 대화", conversations_path, class: 'nav-link' %>
            </li>
            <% if current_user.user_type == "admin" %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">개발정보</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <%=link_to '개발 정보', home_help_path, class: "dropdown-item"  %>
                <%=link_to 'API문서', grape_swagger_rails_path, target: '_blank', class:"dropdown-item" %>
                <%=link_to 'OAuth 관리', oauth_applications_path, target: '_blank', class:"dropdown-item" %>
              </div>
            <% end %>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <% if current_user %>
              <span class="welcomeText">안녕하세요 <%= current_user.name %>님</span>
              <%= link_to '로그 아웃', destroy_user_session_path, class: "log", method: :delete %>
            <% else %>
              <%= link_to "로그인", :controller => 'users/sessions', class: "log", :action => 'new' %>
            <% end %>
          </form>
        </div>
      <% else  %>
      <div class="normalHeader">
        <form class="form-inline my-2 my-lg-0">
          <% if current_user %>
            <span class="welcomeText">안녕하세요 <%= current_user.name %>님</span>
            <%= link_to '로그 아웃', destroy_user_session_path, class: "log", method: :delete %>
          <% end %>
        </form>
          <% end %>
      </div>
    </nav>

    <main role="main" class="container">
      <%= yield %>
    </main>
    
  </body>
  <script>
    $(document).ready(function () {
      var str = location.href.toLowerCase();
      $(".collapse li a").each(function () {
          if (str.indexOf(this.href.toLowerCase()) > -1) {
              $("li.highlight").removeClass("highlight");
              $(this).parent().addClass("highlight");
          }
      });
    })
  </script>
</html>